<!DOCTYPE html>

<!--suppress JSUnresolvedVariable -->
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>JTS FlightPlan</title>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }

    </script>
    <link href="assets/img/favicon.png" rel="icon" type="image/x-icon">
    <script src="assets/vendor/boostrap-5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jetstream.js"></script>
    <link href="assets/vendor/boostrap-5.0.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/jetstream.css" rel="stylesheet"/>
    <link href="assets/css/jetstream-colors.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-nightfall.min.css"
          rel="stylesheet" media="(prefers-color-scheme: dark)">
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    <script src="assets/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/vendor/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script type="module" src="assets/js/ToneGenerator.js"></script>

</head>

<body class="mfd-body h-100">
<div id="app" class="noRound">
    <main class="h-100">
        <div class="container-fluid h-100">
            <div class="row fp-readable  border-bottom" style="background-color: rgb(22 23 29)">
                <div class="col-auto align-middle">
                    <img alt="Jetstream Logo" class="" src="assets/img/fplogo.svg" style="height:38px"
                         @click="reinit"/>
                </div>

                <div class="col-auto p-0">
                    <div id="fp-page-nav" class="row g-0 p-0 h-100">
                        <div class="col-auto border-end border-start    ">
                            <button
                                    @click="activatePage('fp-config', 0, true)"
                                    class="w-100 btn btn-sm fp-page-btn h-100   "
                                    type="button">API
                            </button>
                        </div>
                        
                        <div class="col-auto border-end">
                            <button
                                    @click="activatePage('fp-plan', 0, true)"
                                    class=" btn btn-sm fp-page-btn w-100 h-100  "
                                    type="button">PLN
                            </button>
                        </div>

                        <div class="col-auto border-end">
                            <button id="fp-topic-trigger" @click="activatePage('fp-kind', 0, true)"
                                    class=" btn btn-sm w-100 h-100 fp-page-btn   "
                                    type="button">
                                KIND
                            </button>
                        </div>
                        <div class="col-auto border-end">
                            <button
                                    @click="activatePage('fp-object', 0, true)"
                                    class=" btn btn-sm  w-100 h-100 fp-page-btn  "
                                    type="button">OBJ
                            </button>
                        </div>
                        <div class="col-auto border-end">
                            <button id="fp-task-trigger"
                                    @click="activatePage('fp-task', 0, true)"
                                    class=" btn btn-sm  w-100 h-100  fp-page-btn "
                                    type="button">
                                TASK
                            </button>
                        </div>
                        <div class="col-auto border-end">
                            <button
                                    @click="activatePage('fp-dev', 0, true )"
                                    class="w-100 btn-sm btn  h-100 fp-page-btn  "
                                    type="button">DEV
                            </button>
                        </div>
                        <div class="col-auto border-end">
                            <button id="fp-ref-trigger"
                                    @click="activatePage('fp-ref', 0, true )"
                                    class="w-100 btn-sm btn  h-100 fp-page-btn  "
                                    type="button">REF
                            </button>
                        </div>

                    </div>
                </div>
                <div class="col">
                </div>

                <div class="col-auto p-1 fp-advisable border-end border-start " @click="$parent.adviseObject(timer)">
                    <div class="row  g-0">
                        <div class="col ps-1 fp-label">STATUS</div>
                    </div>
                    <div class="row g-0">
                        <div class="col px-1 text-center text-warning" :class="{ 'fp-good': heartbeat.status === 200 }">
                            {{ heartbeat.status }} {{ padStartWithZeros(heartbeat.ping, 3) }}ms
                        </div>
                    </div>
                </div>
                <div class="col-auto p-1 fp-advisable border-end border-start " @click="$parent.adviseObject(timer)">
                    <div class="row  g-0">
                        <div class="col ps-1 fp-label">TX/RX</div>
                    </div>
                    <div class="row g-0">
                        <div class="col px-1 text-center ">
                            {{ stats.tx }}/{{ stats.rx }}
                        </div>
                    </div>
                </div>
                <fptimer v-for="(timer,index) in objects['timers']" :timer="timer"></fptimer>

                <div class="col-auto  border-end m-0 fp-advisable" @click="adviseObject(new Date())">
                    <div class="row  g-0">
                        <div class="col ps-1 text-start fp-label">DATE</div>

                        <div class="col ps-1 text-end fp-label">TIME</div>
                    </div>
                    <div class="row  g-0">
                        <div class="col ps-1 ">
                            <div class=" fp-date ">{{ date }}</div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="row border-bottom">
                <div class="col-12 bg-black" style="height:9px">

                </div>
            </div>

            <div class="row fp-readable border-bottom">
                <div class="col-1 border-end border-start p-0">
                    <div class="row g-0 h-50 p-0 border-bottom ">
                        <div class="col-12 p-1   fp-advisable  bg-black "
                             @click="adviseObject(activePlan)">
                            <div class="row   g-0">
                                <div class="col fp-label">PLAN</div>
                            </div>
                            <div class="row">
                                <div class="col text-center fp-cmd fp-large">{{
                                planner.active.plan.contents.name
                                }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row g-0 h-50 p-0">

                    </div>
                </div>
                <div class="col-1 border-end p-0">
                    <div class="row g-0 h-50 p-0 border-bottom ">
                        <div class="col-12 p-1   fp-advisable  bg-black "
                             @click="adviseObject(activePlan)">
                            <div class="row   g-0">
                                <div class="col fp-label">WPT</div>
                            </div>
                            <div class="row">
                                <div class="col text-center fp-large fp-cmd">{{
                                planner.active.plan.contents.activeWaypoint
                                }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 h-50 p-0">

                    </div>
                </div>

                <div class="col-4 border-end p-0 " style="overflow-y: scroll; height:98px">

                    <div class="row p-1 g-0 fp-advisable" @click="adviseObject(wpt, planner.active.plan)"

                         v-for="(wpt,index) in planner.active.waypoints.filter(x=> x.contents.status !== 'complete')">
                        <div class="col-2 p-0 ps-1">

                            <span class="fp-alert"
                                  :class="{ 'fp-cmd': wpt.contents.key === planner.active.plan.contents.activeWaypoint }">{{ wpt.contents.icon }}&nbsp;{{
                                    wpt.contents.key
                                }}</span>
                        </div>
                        <div class="col p-0">

                            <span class="">{{ wpt.contents.summary }}</span>
                        </div>

                        <div class="col-auto fp-info p-0">
                            {{ wpt.contents.date }}
                        </div>
                    </div>

                </div>
                <div class="col-3 border-end p-0 bg-black" style="overflow-y: scroll; height:98px">
                    <fpcalevent v-for="(calEvent,index) in objects['events']" :class="{ 'border-bottom': index !== 1 }"
                                :calevent="calEvent"></fpcalevent>
                </div>

                <div class="col-3 border-end bg-black">
                    <fpmessage v-for="(message,index) in objects['messages'].slice(0,4)" :message="message"></fpmessage>
                </div>

            </div>

            <div class="row border-bottom  border-start">
                <div class="col-auto  border-end m-0 d-flex align-items-center" style="width:6rem">
                    <div class="  ">ADVISOR</div>
                </div>
                <div class="col p-0 bg-black" style="overflow-x:scroll; overflow-y: hidden">
                    <div style="white-space: nowrap">
                        <button v-if="advisorObjects['id']" @click="editObject(advised)"
                                class="btn  btn-outline-warning border-end  border-0   border-bottom">
                            EDIT
                        </button>
                    </div>
                </div>
                <div class="col-auto p-0 bg-black  d-flex align-items-center border-start border-end">
                    <button class="btn  border-0 btn-outline-danger "
                            style="width:4rem"
                            type="button"
                            @click="clearAdvisor()">CLR
                    </button>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-12 bg-black" style="height:9px">

                </div>
            </div>
            <div class="row  h-100" style="min-height: 80%">
                <div class="col-md-12 p-0">
                    <div id="mfd-page" class="h-100  pt-0 tab-content">
                        <div id="fp-kind" aria-labelledby="v-pills-topic-tab"
                             class="tab-pane  h-100"
                             role="tabpanel">
                            <div class="container-fluid h-100 p-0 m-0 g-0">
                                <div class="row g-0">
                                    <div class="col-12 bg-black p-2">                                        
                                        <jtstopicviewer @kind_created="getGlobalKinds" @kind_deleted="getGlobalKinds" @browse_kind="filterObjects" :api="api" :kinds="globalKinds"></jtstopicviewer>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="fp-object" class="tab-pane h-100"
                             role="tabpanel">
                            <div class="row g-0">
                                <div class="col-12 border-end">
                                    <div class="p-2 me-0 overflow-scroll"
                                         style="scrollbar-color: #000000 #000000">
                                        <div class="input-group ">
                                            <span class="input-group-text"></span>
                                            <input id="topicInput" v-model="kindFilter"
                                                   class="form-control "
                                                   name="topicInput" type="text">
                                            <button id="getObjectButtons" class="btn btn-success "
                                                    type="button"
                                                    @click="getObjects">Search
                                            </button>
                                            

                                        </div>
                                        <div v-for="obj in jetObjects" class="border-bottom p-2">
                                            <div class="row ">
                                                <div class="col-10">
                                                <span class="fp-editable fp-alert"
                                                      @click="editObject(obj)">{{
                                                        obj.id
                                                    }}</span>&nbsp;

                                                    <span class="fp-navable" @click="filterObjects(obj.kindId)">{{
                                                            obj.kindId
                                                        }}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <code>{{ obj.contents }}</code>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="fp-object-edit" class="tab-pane h-100"
                             role="tabpanel">
                            <div class="row g-0">
                                <div class="col-12 bg-black p-2">
                                    <div class="btn-group mb-2 w-100" role="group" aria-label="Basic outlined example">
                                        <button id="deleteObject"
                                                class="btn btn-outline-danger "
                                                type="button" @click="deleteObject">DELETE
                                        </button>
                                        <button id="clearObjectButton"
                                                class="btn btn-outline-warning  "
                                                type="button" @click="editing.object.id = ''">CLONE
                                        </button>
                                        <button id="editObjectButton"
                                                class="btn btn-outline-warning  "
                                                type="button"
                                                :disabled="editing.object.id ===''"
                                                @click="saveObject">SAVE
                                        </button>
                                        <button id="newObjectButton"
                                                class="btn btn-outline-success "

                                                type="button"
                                                @click="createObject">CREATE
                                        </button>
                                        <button class="btn btn-outline-info " type="button"
                                                @click="filterObjects(editing.object.instance.kindId)">
                                            BROWSE<BR>TOPIC
                                        </button>
                                    </div>
                                    <div class="input-group mb-2">
                                            <span class="input-group-text"
                                                  style="width:7rem">TOPIC</span>
                                        <select id="objectKindInput" class="form-select"
                                                v-model="editing.object.instance.kindId">
                                            <option :value="kind.id" v-for="kind in globalKinds">
                                                {{ kind.name }}
                                            </option>
                                        </select>
                                        <span :class="{ 'bg-warning text-dark': editing.object.id }"
                                              class="input-group-text"
                                              style="width:7rem; ">OBJECT</span>

                                        <input id="objectIdInput" v-model="editing.object.id"
                                               aria-describedby="getObjectButtons"
                                               class="form-control  text-warning"
                                               name="objectIdInput" placeholder="" type="text">
                                    </div>

                                    <div id="aceEditor" style="height: 400px;">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="fp-task" aria-labelledby="v-pills-cfg-tab" class="tab-pane fade" role="tabpanel">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="p-2 bg-black ">
                                        <div class="input-group ">
                                            <span class="input-group-text">ENTRY</span>
                                            <input
                                                    class="form-control"
                                                    type="text"/>
                                            <button class="btn btn-outline-warning me-2 "
                                                    type="button"
                                                   > CREATE
                                            </button>
                                            <fptasklist :tasks="objects['tasks']"></fptasklist>
                                        </div>
                                       
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div id="fp-dev" class="tab-pane fade" role="tabpanel">

                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="input-group mb-2">
                                        

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div id="fp-ref" class="tab-pane fade" role="tabpanel">
                            <h3>SYMBOLOGY</h3>
                            <div class="row g-0">
                                <div class="col-2">
                                    󰔶 PTASK
                                </div>

                                <div class="col-2">
                                     APPT
                                </div>

                                <div class="col-2">
                                     ROUTINE
                                </div>
                                <div class="col-2">
                                    󱀝 BREAK
                                </div>
                                <div class="col-2">
                                    󱓝 LEARN
                                </div>
                                <div class="col-2">
                                    󰋙 MEETING
                                </div>

                            </div>
                            <div class="row g-0">
                                <div class="col-2">
                                    󰔷 ATASK
                                </div>
                                <div class="col-2">
                                     EVENT
                                </div>
                                <div class="col-2">
                                    󰋙 CHORE
                                </div>
                                <div class="col-2">
                                    󰣏 REST
                                </div>

                                <div class="col-2">
                                    󰨑 SPIKE
                                </div>

                            </div>

                        </div>
                        
                        <div id="fp-plan" class="tab-pane fade h-100"
                             role="tabpanel">

                            <div class="container-fluid p-0 m-0 h-100">
                                <div class="row g-0 ">
                                    <div class="col-12 bg-black p-2">

                                        <div class="card w-100 bg-black ">

                                            <div class="card-body p-0 ">
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">PLAN</span>
                                                    <button
                                                            class="btn btn-outline-info "
                                                            type="button"
                                                            @click="filterObjects('AM.FlightPlan.Plans')">LIST
                                                    </button>
                                                    <input
                                                            style="width: 17rem"
                                                            class="form-control bg-black"
                                                            type="text" v-model="planner.entering.activePlanId">
                                                    <button
                                                            class="btn btn-outline-success"
                                                            type="button"
                                                            @click="activateEnteredPlan()">ACTIVATE
                                                    </button>

                                                    <span class="input-group-text bg-black fp-cmd" style="width:10rem">{{
                                                    activePlan.contents.name
                                                }}</span>
                                                    <button
                                                            class="btn btn-outline-warning border-end-0"
                                                            type="button"
                                                            @click="saveActivePlan()">SAVE
                                                    </button>
                                                    <button
                                                            class="btn btn-outline-warning"
                                                            type="button"
                                                            @click="editObject(activePlan)">EDIT
                                                    </button>

                                                </div>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">WPT TOPIC</span>

                                                    <input
                                                            style="width: 17rem"
                                                            class="form-control bg-black"
                                                            type="text"
                                                            v-model="planner.active.plan.contents.waypointTopic">
                                                    <span class="input-group-text">WPT</span>
                                                    <input class="form-control " type="text"
                                                           v-model="planner.entering.activeWpt" style="width: 1rem"/>
                                                    <button
                                                            class="btn btn-outline-success"
                                                            type="button"
                                                            @click="setWpt">ACT-WPT
                                                    </button>
                                                </div>
                                                <table class="table table-striped table-borderless">
                                                    <tr>
                                                        <th style="width: 10%">KEY</th>
                                                        <th>STATUS</th>
                                                        <th>TITLE</th>
                                                        <th>DATE</th>
                                                    </tr>
                                                    <tr v-for="wpt in planner.active.waypoints.filter(x=> x.contents.status !== 'complete')"
                                                        class="">
                                                        <td class="text-warning fp-advisable"
                                                            @click="editWaypoint(wpt)"
                                                            :class="{ 'fp-cmd': wpt.contents.key === planner.active.plan.contents.activeWaypoint }">
                                                            {{ wpt.contents.icon }}&nbsp;{{ wpt.contents.key }}
                                                        </td>
                                                        <td class="fp-info">{{ wpt.contents.status }}</td>

                                                        <td class="">{{ wpt.contents.summary }}<br>

                                                        </td>
                                                        <td class="fp-info">{{ wpt.contents.date }}</td>
                                                    </tr>
                                                    <tr v-for="wpt in planner.active.waypoints.filter(x=> x.contents.status == 'complete')"
                                                        class="text-decoration-line-through text-success">
                                                        <td class="text-success fp-advisable"
                                                            @click="adviseObject(wpt, planner.active.plan)">
                                                            {{ wpt.contents.icon }}&nbsp;{{ wpt.contents.key }}
                                                        </td>
                                                        <td class="text-success">{{ wpt.contents.status }}</td>

                                                        <td class="">{{ wpt.contents.summary }}<br>

                                                        </td>
                                                        <td class="text-success">{{ wpt.contents.date }}</td>
                                                    </tr>
                                                </table>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="fp-plan-edit" class="tab-pane fade h-100"
                             role="tabpanel">

                            <div class="container-fluid p-0 m-0 h-100">
                                <div class="row g-0 ">
                                    <div class="col-12 bg-black p-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="fp-config" aria-labelledby="v-pills-cfg-tab" class="tab-pane fade"
                             role="tabpanel">
                            <div class="row">
                                <div class="col-sm-12" id="htmPane">

                                </div>

                            </div><!--/row-->
                            <div class="container-fluid p-2 m-0 bg-black    ">

                                <div class="input-group mb-2">
                                    <span class="input-group-text" style="width:5rem">API</span>
                                    <input type="text" class="form-control" placeholder="Username"
                                           v-model="jetstreamUri">
                                </div>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">IDENT</span>
                                    <input v-model="auth.ident"
                                           class="form-control "
                                           type="text">
                                    <span class="input-group-text">SECRET</span>
                                    <input v-model="auth.secret"
                                           class="form-control "
                                           type="text">
                                    <button class="btn btn-outline-warning  "
                                            type="button"
                                            @click="getToken">AUTHENTICATE
                                    </button>
                                </div>

                                <div class="input-group mb-2">
                                    <span class="input-group-text">TOKEN</span>
                                    <textarea type="text" class="form-control text-light"
                                              rows="7" v-model="auth.token"></textarea>
                                </div>

                            </div>
                        </div>
                        <div id="fp-waypoint-editor" class="tab-pane fade">
                            <fpwaypointeditor :waypoint="planner.entering.waypoint"></fpwaypointeditor>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 p-0 ps-1">

                </div>
            </div>
            <div class="row h-100">
                <div class="col-6 p-0 h-100">
                    <div id="screen-panel-0" class="border-end border-bottom border-start h-100 bg-black"></div>
                </div>
                <div class="col-6 p-0 h-100">
                    <div id="screen-panel-1" class="h-100 border-end bg-black border-bottom"></div>
                </div>
            </div>
        </div>
    </main>
</div>
<!--suppress JSUnusedGlobalSymbols, JSUnresolvedFunction -->

<script src="assets/js/util.js"></script>
<script type="module" src="assets/js/flightplan.js"></script>
<script type="text/javascript">
    hotkeys('alt+p,alt+t,alt+d,alt+o,alt+j,alt+f12', function (event, handler) {
        switch (handler.key) {
            case 'alt+p':
                document.app.activatePage('fp-plan', 0, true)
                document.app.activatePage('fp-plan-edit', 1, true);
                break;
            case 'alt+k':
                document.app.activatePage('fp-kind', 0, true);
                break;
            case 'alt+d':
                document.app.activatePage('fp-object', 0, true)
                break;
            case 'alt+t':
                document.app.activatePage('fp-task', 0, true)
                break;
            case 'alt+j':
                document.app.activatePage('fp-config', 0, true)
                break;
            case 'alt+f12':
                document.app.activatePage('fp-dev', 0, true)
                break;
            default:
                alert(event);
        }
    });
</script>

</body>
</html>