@font-face {
    font-family: JetBrainsMonoRegularNerdFontComplete;
    src: url(../../assets/fonts/JetBrainsMonoRegularNerdFontComplete.ttf);
    font-weight: bold;
}
*{font-family:  JetBrainsMonoRegularNerdFontComplete,sans-serif; color:#b6b6b6}

/* Glass Display */
.fp-display {color: #EFEFEF; border: 1px solid #444}

/* Info Panel */
.fp-info-panel { color: lawngreen; padding: .7rem; font-family: JetBrainsMonoRegularNerdFontComplete, sans-serif}
.fp-task-card {font-size: 1.2rem}

/* Softkeys */
.fp-softkey-panel div .btn { background: #0d1111; border-radius: 0}
.fp-key-panel .btn { background: #0d1111; border-radius: 0}
.fp-key-panel.fp-vertical > button.btn{margin-bottom: .5rem !important}


/*Radar*/
.fp-radar-container {position: relative; }   
.fp-radar-container canvas{position: absolute; background: transparent}
.fp-radar-container #fp-radar-background-layer {background:#000}